{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <h2>All Posts</h2>
    
    {% for post in posts %}
    <div class="post">
        <div>
            Author: {{ post.username }}
        </div>
        <div>
            Title: {{ post.title }}
        </div>
        <div>
            Content: {{ post.content }}
        </div>
        <div>
            Time: {{ post.timestamp }}
        </div>
        <div>
            Likes: 
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>Login to see posts</h2>
    {% endif %}


{% endblock %}