{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <h2>Create Post</h2>

    <form action="{% url 'create_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="content" placeholder="Content"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    {% endif %}

    <h2>All Posts</h2>
    
    {% for post in posts %}
    <div class="post">
        <div>
            Author:  <a href="{% url 'profile' post.user_id %}">{{ post.user_id }}</a>
        </div>
        <div>
            Title: {{ post.title }}
        </div>
        <div>
            Content: {{ post.content }}
        </div>
        <div>
            Time: {{ post.timestamp }}
        </div>
        <div>
            Likes: 
        </div>
    </div>
    {% endfor %}

    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% elif posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">Next</a>
    {% endif %}

{% endblock %}