{% extends "network/layout.html" %}

{% block heading %} 
{% endblock %}

{% block body %}

    {% block profile %}
    {% endblock %}
    {% for post in posts %}
    <div class="post" id="post-{{ post.id }}" style="border: 1px solid #ccc; padding: 1rem; margin: 1rem;">
        <!-- post title -->
        <p class="title"><strong>{{ post.title }}</strong></p>
        <!-- post content -->
        <p class="post-content" {% if user.username == post.user_id.username %} data-post-id="{{ post.id }}"{% endif %}>{{ post.content }}
            {% if user.username == post.user_id.username %}
            <!-- form to edit the post content -->
            <form id="edit-form-{{ post.id }}" class="edit-form" style="display:none;" data-post-id="{{ post.id }}">
                <textarea name="content">{{ post.content }}</textarea>
                <button type="submit">Save</button>
            </form>
            {% endif %}
        </p>
        <!-- author link -->
        <p>Author: <a href="{% url 'profile' post.user_id %}">{{ post.user_id }}</a></p>
        <!-- post timestamp -->
        <p class="timestamp">{{ post.formatted_timestamp }}</p>
        <!-- like button -->
        {% if user.is_authenticated %}
        <div>
            <span class="like-count">{{ post.likes_count }}</span>
            <span class="like-button" data-post-id="{{ post.id }}">
                {% if post.user_has_liked %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ff0000" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                {% endif %}
            </span>
        </div>

        {% endif %}
    </div>
    {% endfor %}

    <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page_number in page_numbers %}
                {% if page_number == posts.number %}
                    <li class="page-item active"><span class="page-link">{{ page_number }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <script>
        // wait for the document to fully load
        document.addEventListener('DOMContentLoaded', function() {
            const likeButtons = document.querySelectorAll('.like-button');

            likeButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const postId = this.getAttribute('data-post-id');
                    likePost(postId, this);
                });
            });
            // get all the post content elements
            const editButton = document.querySelectorAll('.edit-button');

            // add a double click event listener to each post content element
            editButton.forEach(content => {
                content.addEventListener('click', function() {
                    // get the post id from the data attribute
                    const postId = this.getAttribute('data-post-id');
                    // show the edit form for the post
                    showEditForm(postId);
                });
            });

            // get all the edit forms
            const editForms = document.querySelectorAll('.edit-form');

            // add a submit event listener to each edit form
            editForms.forEach(form => {
                form.addEventListener('submit', function(event) {
                    // get the post id from the data attribute
                    const postId = this.getAttribute('data-post-id');
                    // submit the form data to the server to edit the post
                    editPost(event, postId);
                });
            });
        });

        function likePost(postId, button) {
            fetch(`/like_post/${postId}`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                const post = document.getElementById(`post-${postId}`);
                const likeCount = post.querySelector('.like-count');
                likeCount.textContent = data.likes_count;

                if (data.liked) {
                    button.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ff0000" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>`;
                } else {
                    button.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>`;
                }
            })
            .catch(error => console.error('Error:', error));
        }

        // show the edit form for a post
        function showEditForm(postId) {
            // get the edit form element by id
            const form = document.getElementById(`edit-form-${postId}`);
            // get the post content element by class
            const content = document.querySelector(`#post-${postId} .post-content`);
            // hide the original post content
            content.style.display = 'none';
            // show the edit form
            form.style.display = 'block';
        }

        // submit the form data to edit a post
        function editPost(event, postId) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);

            fetch(`/edit_post/${postId}`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.log('Error:', data);
                    return;
                }
                // get the post element by id
                const post = document.getElementById(`post-${postId}`);
                // update the post content
                post.querySelector('p.post-content').textContent = data.content;
                // get the post content element by class
                const content = document.querySelector(`#post-${postId} .post-content`);
                // show the updated post content
                content.style.display = 'block';
                // hide the edit form
                form.style.display = 'none';

            })
            .catch(error => console.error('Error:', error));
        }

        // get the csrf token from the cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
{% endblock %}
